@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 140 67 130;
    --color-on-primary: 255 255 255;
    --color-primary-container: 255 215 243;
    --color-on-primary-container: 57 0 53;
    --color-secondary: 110 88 104;
    --color-on-secondary: 255 255 255;
    --color-secondary-container: 248 218 238;
    --color-on-secondary-container: 39 22 36;
    --color-tertiary: 129 83 67;
    --color-on-tertiary: 255 255 255;
    --color-tertiary-container: 255 219 208;
    --color-on-tertiary-container: 50 18 7;
    --color-error: 186 26 26;
    --color-on-error: 255 255 255;
    --color-error-container: 255 218 214;
    --color-on-error-container: 65 0 2;
    --color-background: 255 251 255;
    --color-on-background: 31 26 29;
    --color-surface: 255 251 255;
    --color-on-surface: 31 26 29;
    --color-surface-variant: 238 222 231;
    --color-on-surface-variant: 78 68 75;
    --color-outline: 128 116 123;
    --color-outline-variant: 210 194 203;
    --color-inverse-surface: 52 47 50;
    --color-inverse-primary: 255 171 238;
    --color-on-inverse-surface: 248 238 242;
    --color-primary-hover: 149 82 140;
    --color-primary-press: 154 90 145;
    --color-primary-focus: 154 90 145;
    --color-primary-drag: 158 97 150;
    --color-primary-container-hover: 239 198 228;
    --color-primary-container-press: 231 189 220;
    --color-primary-container-focus: 231 189 220;
    --color-primary-container-drag: 223 180 212;
    --color-secondary-hover: 121 101 116;
    --color-secondary-press: 128 108 122;
    --color-secondary-focus: 128 108 122;
    --color-secondary-drag: 133 115 128;
    --color-secondary-container-hover: 232 203 222;
    --color-secondary-container-press: 223 194 213;
    --color-secondary-container-focus: 223 194 213;
    --color-secondary-container-drag: 214 186 206;
    --color-tertiary-hover: 139 96 82;
    --color-tertiary-press: 144 104 90;
    --color-tertiary-focus: 144 104 90;
    --color-tertiary-drag: 149 111 97;
    --color-tertiary-container-hover: 239 203 192;
    --color-tertiary-container-press: 230 195 184;
    --color-tertiary-container-focus: 230 195 184;
    --color-tertiary-container-drag: 222 187 176;
    --color-error-hover: 191 44 44;
    --color-error-press: 194 54 54;
    --color-error-focus: 194 54 54;
    --color-error-drag: 197 63 63;
    --color-error-container-hover: 240 201 197;
    --color-error-container-press: 232 191 188;
    --color-error-container-focus: 232 191 188;
    --color-error-container-drag: 224 183 180;
    --color-background-hover: 237 233 237;
    --color-background-press: 228 224 228;
    --color-background-focus: 228 224 228;
    --color-background-drag: 219 215 219;
    --color-surface-hover: 237 233 237;
    --color-surface-press: 228 224 228;
    --color-surface-focus: 228 224 228;
    --color-surface-drag: 219 215 219;
    --color-surface-variant-hover: 225 210 219;
    --color-surface-variant-press: 219 203 212;
    --color-surface-variant-focus: 219 203 212;
    --color-surface-variant-drag: 212 197 206;
    --color-inverse-surface-hover: 67 62 65;
    --color-inverse-surface-press: 76 70 73;
    --color-inverse-surface-focus: 76 70 73;
    --color-inverse-surface-drag: 84 78 81;
  }
}
